<header class="header-area header-sticky">


    <div class="col-12">
        <nav class="main-nav">
            <!-- *** Logo Start *** -->

            <a href="{{ path('ajoutQuiz') }}" class="logo">Facili<em> Job</em></a>
            <!-- *** Logo End *** -->
            <!-- *** Menu Start *** -->
            <ul class="nav">

                <li><a href="{{ path('ajoutCv') }}">Acceuil</a></li>





                <li><a href="{{ path('choix') }}">Theme</a></li>
                <li><a href="{{ path('cv') }}">Mettre a jour</a></li>

                <li><a href="{{ path('quiz') }}">Quiz</a></li>




            </ul>
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
    </div>
    </header>