{% extends 'base1.html.twig' %}

{% block title %}Remplire votre cv{% endblock %}

{% block container %}
    <div class="dac">

        {{ form_start(form) }}
        <div class="profie">
            <div class="form-group">



                <img src="images/ff.png/"
                     alt="The head and torso of a dinosaur skeleton;
          it has a large head with long sharp teeth"
                     width="300"
                     height="200"


                >


                {{ form_widget(form.photo) }}

            </div>

        </div>

        </br>

        <div class="form-group">
            <label for="exampleInputEmail1">Nom :</label>
            {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Prenom :</label>
            {{ form_widget(form.prenom,{'attr':{'class':'form-control'}}) }}
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Email :</label>
            {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}

        </div>

        <div class="form-group">

            <label for="">Telephone :  </label>
            {{ form_widget(form.telephone,{'attr':{'class':'form-control'}}) }}

        </div>


        <div class="form-group">
            <label for="exampleInputEmail1">Code Postale :</label>
            {{ form_widget(form.codepostale,{'attr':{'class':'form-control'}}) }}

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Ville :</label>
            {{ form_widget(form.ville,{'attr':{'class':'form-control'}}) }}

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Date De Naissance :</label>

            {{ form_widget(form.datedenaissance,{'attr':{'class':'form-control'}}) }}

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Lieu :</label>
            {{ form_widget(form.lieu,{'attr':{'class':'form-control'}}) }}

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Sexe :</label>
            {{ form_widget(form.sexe,{'attr':{'class':'form-control'}}) }}

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Etat Civil :</label>
            {{ form_widget(form.etatcivil,{'attr':{'class':'form-control'}}) }}

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Formation :</label>
            {{ form_widget(form.formation,{'attr':{'class':'form-control'}}) }}

        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Etablissement Formation :</label>
            {{ form_widget(form.etablif,{'attr':{'class':'form-control'}}) }}

        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Stage :</label>
            {{ form_widget(form.stage,{'attr':{'class':'form-control'}}) }}

        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Etablissement Stage :</label>
            {{ form_widget(form.etablis,{'attr':{'class':'form-control'}}) }}

        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Experience :</label>
            {{ form_widget(form.experience,{'attr':{'class':'form-control'}}) }}

        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Etablissement Experience :</label>
            {{ form_widget(form.tablie,{'attr':{'class':'form-control'}}) }}

        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Centre D interet :</label>
            {{ form_widget(form.centredinteret,{'attr':{'class':'form-control'}}) }}
        </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Adresse :</label>
                {{ form_widget(form.adresse,{'attr':{'class':'form-control'}}) }}

            </div>
            <div class="form-group"> <a href="https://www.latlong.net/" >Lien pour vous aider a trouver Latitude et longitude d'une adresse</a></div>
            <div class="form-group">
                <label for="exampleInputEmail1">Longtitude :</label>
                {{ form_widget(form.longtitude,{'attr':{'class':'form-control'}}) }}

            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Laltitude :</label>
                {{ form_widget(form.altitude,{'attr':{'class':'form-control'}}) }}

            </div>



            {{ form_widget(form.Modifier,{'attr':{'class':'site-button radius-xl'}}) }}


            {{ form_end(form) }}

        </div>

    </div>
{% endblock %}


