<div class="card">
    <div class="card" style="width: 40rem;">

        <img class="card-img-top"  src="{{ asset("/uploads/#{c.photo}") }}"  alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">CV</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Nom :{{ c.nom }}</li>
            <li class="list-group-item">Prenom :{{  c.prenom }}</li>
            <li class="list-group-item">Email :{{  c.email }}</li>
            <li class="list-group-item">Telephone :{{  c.telephone }}</li>
            <li class="list-group-item">Adresse :{{  c.adresse }}</li>
            <li class="list-group-item">Codepostale :{{  c.codepostale }}</li>
            <li class="list-group-item">Ville :{{  c.ville }}</li>
            <li class="list-group-item">Datedenaissance :{{  c.datedenaissance | date }}</li>
            <li class="list-group-item">Lieu :{{  c.lieu }}</li>
            <li class="list-group-item">Sexe :{{  c.sexe }}</li>
            <li class="list-group-item">Etatcivil :{{  c.etatcivil }}</li>
            <li class="list-group-item">Formation :{{  c.formation }}</li>
            <li class="list-group-item">Etablissement formation :{{  c.etablif }}</li>
            <li class="list-group-item">Stage :{{  c.stage }}</li>
            <li class="list-group-item">Etablissement Stage :{{  c.etablis }}</li>
            <li class="list-group-item">Experience :{{  c.experience }}</li>
            <li class="list-group-item">Etablissement Experience :{{  c.etablif }}</li>
            <li class="list-group-item">Centre Dinteret :{{  c.centredinteret }}</li>





        </ul>
    </div>
</div>

