{% extends 'base1.html.twig' %}

{% block title %}Style CV{% endblock %}





 {% block css%}
     <link rel="stylesheet" type="text/css" href="{{ asset('css/plugins.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ asset('css/templete.css') }}">
     <link class="skin" rel="stylesheet" type="text/css" href="{{ asset('css/skin/skin-1.css') }}">
     <link rel="stylesheet" href="{{ asset('plugins/datepicker/css/bootstrap-datetimepicker.min.css') }}"/>
     <!-- Revolution Slider Css -->
     <link rel="stylesheet" type="text/css" href="{{ asset('plugins/revolution/revolution/css/layers.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ asset('plugins/revolution/revolution/css/settings.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ asset('plugins/revolution/revolution/css/navigation.css') }}">
     <link rel="stylesheet"  type="text/css" href="{{ asset('css/material-kit.css') }}" >
     <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">

     <link rel="stylesheet" href="{{ asset('css/style2.css') }}">
     <link rel="stylesheet" href="{{ asset('css/style.css') }}">
     <link rel="stylesheet" href="{{ asset('css/tam2.css') }}">



 {% endblock %}


{% block container %}
    {%  for c in cvs   %}
    <div class="container">

        <!--left column starts-->
        <div class="left_col">
            <div class="left_col_1">
                <img  src="{{ asset("/uploads/#{c.photo}") }}"  alt="Card image cap">
            </div>
            <div class="br"></div>
            <div class="left_col_2">
                </br>
                </br>
                </br>

                <p class="rela-block social twitter">FACEBOOK:{{ c.nom }}{{  c.prenom }}</p>
                <p class="rela-block social pinterest">INSTAGRAM:{{ c.nom }}{{  c.prenom }}</p>
                <p class="rela-block social linked-in">LINKEDIN{{ c.nom }}{{  c.prenom }}</p>
            </div>
            <div class="br"></div>

            <div class="left_col_3">

                <div class="skill">
                </div>
                <ul>
                    <li>
                        <div class="progress_bar">
                    <span style="width: 88%;">
                      <p class="align">Email: {{ c.email }}
                      </p>
                    </span>
                        </div>
                    </li>
                    <li>
                        <div class="progress_bar">
                    <span style="width: 88%;">
                      <p class="align">Telephne: {{  c.telephone }}
                      </p>
                    </span>
                        </div>
                    </li>
                    <li>
                        <div class="progress_bar">
                    <span style="width: 76%;">
                      <p class="align">Adresse: {{  c.adresse }}
                      </p>
                    </span>
                        </div>
                    </li>
                    <li>
                        <div class="progress_bar">
                    <span style="width: 73%;">
                      <p class="align">Code postale: {{  c.codepostale }}
                      </p>
                    </span>
                        </div>
                    </li>






                </ul>
            </div>
        </div>

        <!--right column starts-->
        <div class="right_col">
            <div class="right_col_1">
                <p class="header header4"></br>Nom :{{ c.nom }} </br></br> Prenom :{{  c.prenom }} </br></br> DATE DE NAISANCE : {{  c.datedenaissance | date }}

                </p>
            </div>


            <div class="right_col_4">

                <p class="header header5">INFORAMTIONS PERSONNELES
                </p>
                <div class="right_col_left2">
                    <p class="header header6">SEXE:
                    </p>
                    <p class="header header6" style="top: 50px;">ETAT:
                    </p>

                    <p class="header header6" style="top: 80px;">Ville:
                    </p>



                </div>

                <div class="right_col_right2">
                    <p class="side"> {{  c.sexe }}
                    </p>
                    <p class="side" style="top: 50px;"> {{  c.etatcivil }}
                    </p>
                    <p class="side" style="top: 80px;"> {{  c.ville }}
                    </p>

                </div>
            </div>




            <div class="right_col_3">
                <p class="header header5">FORMATION|STAGE|EXPERIENCE
                </p>
                <div class="right_col_left2">
                    <p class="header header6">{{  c.formation }}
                    </p>
                    <p class="header header6" style="top: 50px;">{{  c.stage }}
                    </p>
                    <p class="header header6" style="top: 80px;">{{  c.experience }}
                    </p>

                </div>
                <div class="right_col_right2">
                    <p class="side">chez {{  c.etablif }}
                    </p>
                    <p class="side" style="top: 50px;">chez {{  c.stage }}
                    </p>
                    <p class="side" style="top: 80px;">chez {{  c.tablie }}
                    </p>

                </div>
            </div>
        </div>

    </div>


    {%  endfor %}

{% endblock  %}